.app.svelte-hqc89r{margin:auto;width:100%}
.world-table.svelte-1qum3n9{border-collapse:collapse;border-spacing:0;margin:auto}
.bank.svelte-1v3xa23{display:flex;justify-content:center;margin:auto;padding:15px;clear:both}.bank-group.svelte-1v3xa23{display:flex;padding:15px;border:2px solid #acacac}
.form.svelte-q3rach{text-align:center;margin:50px;font-size:1.2em}.select.svelte-q3rach{background:#000;color:#fff;width:300px;height:30px;margin:20px;font-family:inherit;font-size:1em}.select.svelte-q3rach option.svelte-q3rach{background:#000;color:#fff}.button.svelte-q3rach{background:#000;color:#fff;width:300px;padding:10px;font-family:inherit;font-size:1em}.button.svelte-q3rach:hover{color:#000;background:#fff}
.parent.svelte-xm4afl{margin-top:200px}.message.svelte-xm4afl{margin:20px;text-align:center;font-size:2em}
.footer.svelte-6g6fml{position:fixed;left:0;bottom:0;width:100%;color:#fff;background-color:#000;text-align:center}
.tile.svelte-1r7hje8{border:1px solid #acacac;display:block;width:30px;height:30px}
.resource.svelte-1n9a0w8{width:100px;height:30px}.resource-image.svelte-1n9a0w8{float:left}.resource-amount.svelte-1n9a0w8{font-size:1.2em;display:inline-flex;height:30px;align-items:center;margin-left:5px;padding-top:3px}
.dialog.svelte-ykux7x{width:350px;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);box-shadow:0 4px 5px 3px rgba(0, 0, 0, 0.2);background-color:#fff}.description.svelte-ykux7x{width:100%;padding:5px;text-align:center}.options.svelte-ykux7x{list-style:none;padding:10px;margin-block-start:0;margin-block-end:0}.button.svelte-ykux7x{color:#fff;background:#000;width:100%;height:30px;font-family:inherit;font-size:14px}.button.svelte-ykux7x:hover{color:#000;background:#fff}
.tooltip.svelte-1g1o6es{background-color:black;color:#fff;text-align:center;border-radius:6px;padding:10px;position:fixed;z-index:1}

/*# sourceMappingURL=bundle.css.map */